/* リキッドレイアウト対応 */

body {
	color: #2c3e50;
	font-family: "Noto Serif JP", sans-serif;
}

.u-desktop {
	display: none;
}

html {
	font-size: 16px;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Remove default padding */

ul,
ol {
	padding: 0;
}

/* Remove default margin */

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
	margin: 0;
}

/* Set core root defaults */

html {
	scroll-behavior: smooth;
}

/* Set core body defaults */

body {
	line-height: 1.5;
	min-height: 100vh;
	text-rendering: optimizeLegibility;
}

/* Remove list styles on ul, ol elements with a class attribute */

ul,
ol {
	list-style: none;
}

/* A elements that don't have a class get default styles */

a:not([class]) {
	-webkit-text-decoration-skip: ink;
	text-decoration-skip-ink: auto;
}

/* Make images easier to work with */

img {
	display: block;
	max-width: 100%;
	width: 100%;
}

/* Natural flow and rhythm in articles by default */

article > * + * {
	margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */

input,
button,
textarea,
select {
	font: inherit;
}

/* Blur images when they have no alt attribute */

img:not([alt]) {
	filter: blur(10px);
}

/* フォームリセット */

input,
button,
select,
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: transparent;
	border: none;
	border-radius: 0;
	font: inherit;
	outline: none;
}

textarea {
	resize: vertical;
}

input[type=checkbox],
input[type=radio] {
	display: none;
}

input[type=submit],
input[type=button],
label,
button,
select {
	cursor: pointer;
}

select::-ms-expand {
	display: none;
}

/* ホバー */

a {
	-webkit-text-decoration: none;
	color: inherit;
	text-decoration: none;
	transition: opacity 0.3s;
}

table,
tbody,
tr {
	display: block;
	width: 100%;
}

.about-margin {
	margin-top: 5rem;
}

.company-about-margin {
	margin-top: 5rem;
}

.company-gallery-margin {
	margin-top: 5rem;
}

.company-history-margin {
	margin-top: 5rem;
}

.mission-margin {
	margin-top: 5rem;
}

.product-margin {
	margin-top: 5rem;
}

.recruit-margin {
	margin-top: 5rem;
}

.works-margin {
	margin-top: 5rem;
}

.works-page-margin {
	margin-top: 5rem;
}

.about-pc {
	display: none;
}

.about-sp {
	position: relative;
	z-index: -2;
}

.about-sp__image {
	aspect-ratio: 281/186;
	margin-top: 3.25rem;
	max-width: 55rem;
}

.about-sp__title {
	color: #fff;
	font-family: "Crimson Text", sans-serif;
	font-size: 2.5rem;
	left: 1.5rem;
	line-height: 1;
	position: absolute;
	top: 1.5rem;
}

.about-sp__text {
	font-size: 1rem;
	line-height: 1.5;
	margin-top: 2.5rem;
}

.about {
	background: url(../images/top/about.jpg) no-repeat;
	background-position: center;
	background-size: cover;
}

.about__inner {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: 25rem;
	justify-content: center;
	padding: 0 0.9375rem;
	position: relative;
	width: 100%;
}

.about__inner::after {
	background-color: rgba(85, 85, 85, 0.3);
	bottom: 0;
	content: "";
	height: 100%;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 5;
}

.about__header {
	position: relative;
	z-index: 10;
}

.about__text {
	color: #fff;
	line-height: 1.5;
	margin-top: 2rem;
	position: relative;
	z-index: 10;
}

.archive-date {
	grid-gap: 0.25rem;
	color: #2c3e50;
	display: grid;
	font-size: 1.5rem;
	gap: 0.25rem;
	line-height: 1.4583;
}

.archive-date__year,
.archive-date__month {
	align-items: center;
	cursor: pointer;
	display: flex;
	gap: 0.5rem;
}

.archive-date__year::before {
	border-bottom: 0.625rem solid transparent; /* 右ボーダーを透明に */
	border-left: 1.125rem solid #2c3e50; /* 左ボーダーを透明に */
	border-top: 0.625rem solid transparent; /* 上ボーダーを黒に */
	content: "";
	display: inline-block;
	height: 0;
	transition: all 0.3s;
	width: 0;
}

.archive-date__year.open::before {
	transform: rotate(90deg);
}

.archive-date__sub {
	grid-gap: 0.25rem;
	display: grid;
	gap: 0.25rem;
	margin-left: 2rem;
}

.archive-date__month::before {
	border-bottom: 0.625rem solid transparent; /* 右ボーダーを透明に */
	border-left: 1.125rem solid #2c3e50; /* 左ボーダーを透明に */
	border-top: 0.625rem solid transparent; /* 上ボーダーを黒に */
	content: "";
	display: inline-block;
	height: 0;
	width: 0;
}

.archive__list {
	margin-top: 1.5rem;
}

.arrow-link {
	font-size: 0.75rem;
	text-align: right;
}

.arrow-link a {
	padding-right: 0.625rem;
	position: relative;
}

.arrow-link img {
	bottom: -0.375rem;
	position: absolute;
	right: 0rem;
	width: 2.5rem;
}

.column-archive__date {
	font-family: "Crimson Text", sans-serif;
	font-size: 0.875rem;
	line-height: 1.285;
	vertical-align: top;
}

.column-archive__title {
	border-bottom: 1px solid #457b9d;
	font-size: 1.5rem;
	font-weight: 500;
	line-height: 1.458;
	padding-bottom: 0.25rem;
}

.column-archive__image {
	margin-top: 1.5rem;
}

.column-archive__body {
	grid-gap: 1.5rem;
	display: grid;
	gap: 1.5rem;
	margin-top: 1.5rem;
}

.column-archive__body p {
	font-size: 1rem;
	line-height: 1.5;
}

.column-archive__body ul {
	grid-gap: 0.25rem;
	display: grid;
	gap: 0.25rem;
}

.column-archive__body li {
	background-image: url(../images/blog/seastar_green.png);
	background-position: top 0.1875rem left;
	background-repeat: no-repeat;
	background-size: 1rem;
	line-height: 1.5;
	padding-left: 1.6875rem;
}

.column-card {
	background-color: #fff;
	box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.25);
	max-width: 37.5rem;
	padding: 1rem 1rem 1.5rem;
	transition: all 0.5s;
	width: 100%;
}

.column-card__body {
	margin-top: 1.5rem;
}

.column-card__image {
	aspect-ratio: 301/201;
	overflow: hidden;
}

.column-card__image img {
	-o-object-fit: cover;
	height: 100%;
	object-fit: cover;
	transition: all 0.3s;
	width: 100%;
}

.column-card__date {
	display: block;
	font-family: "Crimson Text", sans-serif;
	font-size: 0.75rem;
	line-height: 1.5;
}

.column-card__title {
	border-bottom: 1px solid #457b9d;
	font-size: 1rem;
	font-weight: 500;
	line-height: 1.5;
	padding-bottom: 0.25rem;
}

.column-card__text {
	line-height: 1.5;
	margin-top: 1rem;
}

.column-card:hover {
	opacity: 0.9;
}

.column-cards {
	grid-gap: 2.5rem;
	display: grid;
	gap: 2.5rem;
	grid-template-columns: repeat(1, 1fr);
}

.column-cards__item:hover img {
	transform: scale(1.4);
}

.column-content {
	max-width: 43.75rem;
	width: 100%;
}

.column-contents__pagination {
	display: flex;
	gap: 5rem;
	justify-content: center;
	margin-top: 2.5rem;
}

.column-contents__pagination a {
	border: 1px solid #457b9d; /* 境界線を追加 */
	color: #457b9d;
	display: inline-block;
	height: 2.375rem;
	transition: background-color 0.5s;
	transition: all 0.3s;
	width: 2.375rem;
}

.column-contents__pagination a:hover {
	background-color: #457b9d;
	border: 1px solid #457b9d;
	color: #fff;
}

.column-contents__prev span {
	border-bottom: 1px solid #457b9d;
	border-left: 1px solid #457b9d;
	content: "";
	display: block;
	height: 0.625rem;
	left: 0.9375rem;
	position: relative;
	top: 0.8125rem;
	transform: rotate(45deg);
	width: 0.625rem;
}

.column-contents__next span {
	border-bottom: 1px solid #457b9d;
	border-right: 1px solid #457b9d;
	content: "";
	display: block;
	height: 0.625rem;
	left: 0.625rem;
	position: relative;
	top: 0.8125rem;
	transform: rotate(-45deg);
	width: 0.625rem;
}

.column-contents__prev:hover span,
.column-contents__next:hover span {
	border-color: #fff;
}

.column-contents__sidebar {
	margin: 5rem auto 0;
}

.column-contents--top-margin {
	margin: 3.25rem auto 0;
}

.blog {
	position: relative;
}

.blog::after {
	display: none;
}

.blog__inner {
	margin: auto;
}

.blog__items {
	gap: 2.5rem;
	margin: 1.5rem auto 0;
	width: 100%;
}

.blog__btn {
	margin-top: 2.5rem;
	text-align: center;
}

.column--top-margin {
	margin-top: 5rem;
}

.breadcrumbs {
	font-size: 0.875rem;
}

.breadcrumbs__list {
	align-items: center;
	display: flex;
	font-size: 0.875rem;
	gap: 0.5rem;
	line-height: 1.4285;
}

.breadcrumbs__item + .breadcrumbs__item::before {
	content: ">";
	margin-right: 0.5rem;
}

.breadcrumbs--top-margin {
	margin-top: 0.5rem;
}

.button {
	align-items: center;
	background-color: #457b9d;
	color: #fff;
	display: flex;
	font-size: 0.875rem;
	height: 3.75rem;
	justify-content: center;
	transition: all 0.5s;
	transition: all 0.3s;
	width: 20rem;
}

.button:hover {
	background-color: #2c3e50;
}

.cards {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
}

.category-tag {
	align-items: center;
	align-self: flex-start;
	background-color: #fff;
	border: 1px solid #457b9d;
	color: #457b9d;
	display: flex;
	font-size: 0.75rem;
	font-weight: 400;
	font-weight: 400;
	height: 1.875rem;
	justify-content: center;
	line-height: 1.83333;
	transition: background-color 0.3s, color 0.3s;
}

.category-tag:hover {
	background-color: #ffe8a1;
	border-color: #ffe8a1;
	color: #2c3e50;
}

.category-tag.category-tag--active {
	background-color: #ffe8a1;
	border-color: #ffe8a1;
	color: #2c3e50;
}

.category-tag a {
	align-items: center;
	display: flex;
	height: inherit;
	justify-content: center;
	padding: 0 0.75rem;
	width: inherit;
}

.category-tags__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	row-gap: 1rem;
}

.category-tags__item {
	cursor: pointer;
	font-size: 0.875rem;
	height: 2.125rem;
	line-height: 1.5714;
	max-width: 10.125rem;
	padding: 0.375rem 0;
	width: 100%;
}

.comment-card__age {
	font-size: 0.75rem;
	line-height: 1.5;
	margin-top: 1rem;
}

.comment-card__title {
	font-size: 1.5rem;
	font-weight: 500;
	line-height: 1.4585;
	margin-top: 0.5rem;
}

.comment__list {
	margin-top: 1.5rem;
}

.comment__btn {
	margin-top: 2.5rem;
	text-align: center;
}

.comment__btn .button {
	margin-bottom: 0;
}

.company-about__list {
	align-items: center;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	margin: 2.5rem auto 0;
	max-width: 30.9375rem;
	width: 100%;
}

.company-about__item {
	align-items: center;
	display: flex;
	justify-content: space-between;
	position: relative;
	width: 100%;
}

.company-about__item::after {
	background-color: #ffe8a1;
	content: "";
	height: 1px;
	left: 0;
	position: absolute;
	top: 50%;
	width: 100%;
	z-index: -1;
}

.company-about__item:nth-of-type(7) {
	align-items: flex-start;
}

.company-about__item:nth-of-type(7)::after {
	top: 0.75rem;
}

.company-about__title {
	background-color: #fff;
	padding-right: 1.5rem;
}

.company-about__text {
	background-color: #fff;
	padding-left: 1.5rem;
	width: 75%;
}

.company-gallery {
	position: relative;
}

.company-gallery__images {
	grid-gap: 0.5rem;
	display: grid;
	gap: 0.5rem;
	margin-top: 2.5rem;
}

.company-gallery__image img {
	-o-object-fit: cover;
	height: 100%;
	object-fit: cover;
}

.company-gallery__image:nth-of-type(6n + 1),
.company-gallery__image:nth-of-type(6n + 6) {
	aspect-ratio: 345/523;
	grid-row: span 2;
	height: 100%;
	max-width: 100%;
	overflow: hidden;
}

.company-gallery__image:nth-of-type(6n + 2),
.company-gallery__image:nth-of-type(6n + 3),
.company-gallery__image:nth-of-type(6n + 4),
.company-gallery__image:nth-of-type(6n + 5) {
	aspect-ratio: 345/219;
	grid-row: span 1;
}

/* モーダル全体のスタイル */

.company-gallery__modal {
	align-items: center;
	background-color: rgba(0, 0, 0, 0.8); /* 半透明の背景 */
	display: none; /* デフォルトでは非表示 */
	height: 100%;
	justify-content: center;
	left: 0;
	overflow: auto;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1000;
}

/* モーダル内のコンテンツ */

.company-gallery__content {
	align-items: center;
	display: flex;
	height: 90%;
	justify-content: center;
	position: relative;
	width: 90%;
}

/* 画像のスタイル */

.company-gallery__content img {
	-o-object-fit: contain;
	max-height: 100%;
	object-fit: contain;
	width: auto;
}

/* モーダルの閉じるボタン */

.company-gallery__close {
	color: #fff;
	cursor: pointer;
	font-size: 40px;
	font-weight: bold;
	position: absolute;
	right: 35px;
	top: 20px;
	transition: all 0.3s;
}

.company-gallery__close:hover {
	color: #457b9d;
}

.company-history__list {
	border: 1px solid #d8d8d8;
	margin: 2.5rem auto 0;
	max-width: 42.5rem;
	width: 100%;
}

.company-history__item {
	background-color: #a8dadc;
	border-bottom: 1px solid #d8d8d8;
}

.company-history__item:last-child {
	border-bottom: none;
}

.company-history__title {
	background-color: #a8dadc;
	padding: 0.75rem 1.5rem;
	text-align: center;
	width: 14%;
}

.company-history__text {
	background-color: #fff;
	flex: 1;
	padding: 0.75rem 1.5rem;
}

.contact-form__inner.inner {
	max-width: 46.875rem;
}

.contact-form__group {
	align-items: flex-start;
	border-bottom: 1px dashed #457b9d;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-bottom: 1.5rem;
}

.contact-form__group:not(:first-child) {
	padding-top: 1.5rem;
}

.contact-form__group--none-border {
	border-bottom: none;
	padding-bottom: 0;
}

.contact-form__required {
	background-color: #c94800;
	color: #fff;
	font-size: 0.75rem;
	letter-spacing: 0.4em;
	margin-left: 0.5rem;
	padding: 0.125rem 1rem;
}

.contact-form__group label {
	font-weight: 700;
}

.contact-form__group input::-moz-placeholder {
	color: #a8dadc;
}

.contact-form__group input::placeholder {
	color: #a8dadc;
}

.contact-form__group input[type=text],
.contact-form__group input[type=email],
.contact-form__group input[type=tel],
.contact-form__group textarea {
	border: 1px solid #457b9d;
	margin-top: 1rem;
	padding: 0.5rem 1rem;
	width: 100%;
}

.contact-form__group input[type=text] {
	height: 2.5rem;
}

.contact-form__group input[type=text].wpcf7-not-valid,
.contact-form__group input[type=email].wpcf7-not-valid,
.contact-form__group input[type=tel].wpcf7-not-valid,
.contact-form__group textarea.wpcf7-not-valid {
	background-color: rgba(201, 72, 0, 0.2);
	border-color: #c94800;
}

.contact-form__group input[type=text].wpcf7-not-valid::-moz-placeholder,
.contact-form__group input[type=email].wpcf7-not-valid::-moz-placeholder,
.contact-form__group input[type=tel].wpcf7-not-valid::-moz-placeholder,
.contact-form__group textarea.wpcf7-not-valid::-moz-placeholder {
	color: #fff;
}

.contact-form__group input[type=text].wpcf7-not-valid::placeholder,
.contact-form__group input[type=email].wpcf7-not-valid::placeholder,
.contact-form__group input[type=tel].wpcf7-not-valid::placeholder,
.contact-form__group textarea.wpcf7-not-valid::placeholder {
	color: #fff;
}

.contact-form__group .wpcf7-form-control-wrap {
	display: block;
	max-width: 30rem;
	width: 100%;
}

.contact-form__group .wpcf7-form-control-wrap[data-name=acceptance] {
	font-size: 0.875rem;
	max-width: none;
}

.contact-form__group--center {
	text-align: center;
}

.contact-form__checkbox {
	display: flex;
	flex-direction: column;
	gap: 0.25rem;
	margin-top: 1rem;
	max-width: 25rem;
	width: 100%;
}

.contact-form__checkbox label {
	-webkit-user-select: none;
	-moz-user-select: none;
	align-items: center;
	display: flex;
	font-weight: 400;
	user-select: none;
}

.contact-form__mark {
	border: 1px solid #457b9d; /* 線 */
	height: 0.875rem; /* 幅 */
	margin-right: 0.5rem;
	position: relative;
	width: 0.875rem; /* 幅 */
}

.contact-form__mark::after {
	border: solid #c94800;
	border-width: 0 2px 2px 0;
	content: "";
	height: 0.625rem;
	left: 0.25rem;
	opacity: 0;
	position: absolute;
	top: 0px;
	transform: rotate(45deg);
	width: 0.375rem;
}

.contact-form__checkbox input:checked + .contact-form__mark::after {
	opacity: 1;
}

.contact-form__group .wpcf7-checkbox {
	display: flex;
	flex-direction: column;
	gap: 0.25rem;
	margin-top: 1rem;
	max-width: 25rem;
	width: 100%;
}

.contact-form__select {
	max-width: 25rem;
	position: relative;
	width: 100%;
}

.contact-form__select select {
	background: #ffffff;
	border: 1px solid #457b9d;
	font-size: 0.75rem;
	height: 2.5rem;
	margin-top: 1rem;
	padding-left: 1rem;
	width: 100%;
}

.contact-form__select::after {
	border-bottom: 0;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-style: solid;
	border-top: 10px solid #457b9d;
	content: "";
	display: inline-block;
	height: 0;
	position: absolute;
	right: 0.5rem;
	top: 1.875rem;
	width: 0;
	z-index: 10;
}

.contact-form__group textarea {
	height: 12.5rem;
}

.contact-form__privacy label {
	align-items: flex-start;
	display: flex;
	font-size: 0.875rem;
}

.contact-form__mark--agree::after {
	height: 0.75rem;
	left: 0.375rem;
	top: 0.125rem;
	width: 0.5rem;
}

.contact-form__privacy input:checked + .contact-form__mark::after {
	opacity: 1;
}

.contact-form__btn {
	margin-top: 1.5rem;
	padding: 0;
}

.contact-form__btn::before {
	border: solid 1px #408f95;
	bottom: 4px;
	content: "";
	display: block;
	height: 100%;
	left: 4px;
	position: absolute;
	right: 4px;
	top: 4px;
	width: 100%;
	z-index: -1;
}

.contact-form__btn span {
	border-bottom: 1px solid #fff;
	border-right: 1px solid #fff;
	content: "";
	display: inline-block;
	height: 0.375rem;
	margin-left: 0.375rem;
	position: relative;
	top: -0.25rem;
	transform: skew(50deg);
	width: 2.5rem;
}

.contact-form__btn::after {
	background-color: #fff;
	content: "";
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	transform: scale(0, 1);
	transform-origin: left top;
	transition: 0.2s cubic-bezier(0.45, 0, 0.55, 1);
	width: 100%;
	z-index: -1;
}

.contact-form__btn input {
	color: #fff;
	display: block;
	height: inherit;
	width: 100%;
}

.contact-form__btn:hover input {
	color: #408f95;
}

.contact-form__btn .wpcf7-spinner {
	display: none;
}

.contact-form__attention {
	align-items: center;
	color: #c94800;
	display: flex;
	flex-direction: column;
	font-size: 0.875rem;
	justify-content: center;
	margin-bottom: 2.5rem;
	padding-left: 1em;
	text-indent: -1em;
}

.contact-form--top-margin {
	margin: 3.25rem auto 0;
}

.contact-thanks {
	text-align: center;
}

.contact-thanks__head {
	line-height: 1.125;
}

.contact-thanks__text {
	margin-top: 2.5rem;
}

.contact-thanks--top-margin {
	margin: 3.25rem auto 0;
}

.contact {
	background-color: #a8dadc;
	padding: 4rem 0;
}

.contact__inner {
	align-items: center;
	display: flex;
	flex-direction: column;
}

.contact__text {
	margin-top: 2.5rem;
}

.contact__tel {
	display: flex;
	flex-direction: column;
	font-size: 1.25rem;
	gap: 0.5rem;
	margin-top: 1rem;
}

.contact__time {
	align-items: center;
	display: flex;
	flex-direction: column;
	font-size: 0.875rem;
	gap: 3.625rem;
	margin-top: 1rem;
}

.contact__btn {
	margin-top: 2.5rem;
	position: relative;
}

.contact__btn img {
	height: 0.75rem;
	left: 2.5rem;
	position: absolute;
	width: 1rem;
}

.error {
	padding: 7.5rem 0 9.25rem;
	text-align: center;
}

.error__title {
	font-family: "Lato", sans-serif;
	font-size: 5rem;
	font-weight: 700;
	letter-spacing: 0.5em;
	text-indent: 0.5em;
}

.error__text {
	font-family: "Lato", sans-serif;
	line-height: 1.5;
}

.error__btn {
	margin-top: 2.5rem;
}

.faq-item__question {
	align-items: center;
	background-color: #457b9d;
	border: 1px solid #457b9d;
	color: #fff;
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	line-height: 1.4375;
	padding: 1rem;
}

.faq-item__icon {
	height: 1.75rem;
	position: relative;
	width: 1.75rem;
}

.faq-item__icon::before,
.faq-item__icon::after {
	background-color: #fff;
	content: "";
	height: 1px;
	left: 0;
	position: absolute;
	top: 50%;
	transform-origin: center;
	transition: transform 0.3s ease;
	width: 100%;
}

.faq-item__icon::before {
	transform: rotate(90deg);
}

.faq-item__icon.open::before {
	transform: rotate(0deg);
}

.faq-item__answer {
	background-color: #fff;
	border: 1px solid #457b9d;
	border-top: none;
	display: block;
	padding: 10px;
	padding: 1.5rem 1rem;
}

.faq-list__inner.inner {
	grid-gap: 2.5rem;
	display: grid;
	gap: 2.5rem;
	max-width: 43.75rem;
	width: 100%;
}

.faq-list--top-margin {
	margin: 3.25rem auto 0;
}

.footer-nav__list {
	align-items: center;
	display: flex;
	flex-direction: column;
	gap: 2.5rem;
	justify-content: center;
}

.footer-nav__list:nth-of-type(2) {
	margin-top: 2.5rem;
}

.footer-nav__item > a:hover {
	opacity: 0.8;
}

.footer-nav__subitem > a:hover {
	opacity: 0.8;
}

.footer__copyright {
	font-family: "Crimson Text", sans-serif;
	font-size: 0.75rem;
	line-height: 1.5;
	margin-top: 2.5rem;
	text-align: center;
}

.footer {
	background-color: #457b9d;
	color: #fff;
	padding-bottom: 3.5rem;
	padding-top: 3rem;
}

.footer__sns {
	display: flex;
	gap: 2.5rem;
	justify-content: center;
	margin-top: 2.5rem;
}

.footer__snslink {
	width: 1.5rem;
}

.footer__snslink:hover {
	opacity: 0.8;
}

.hamburger {
	height: 1.5rem;
	position: relative;
	width: 2.5rem;
	z-index: 999;
}

.hamburger span {
	background-color: #457b9d;
	height: 0.0625rem;
	position: absolute;
	right: 0;
	transition: 0.3s;
	width: 80%;
}

.hamburger span:nth-child(1) {
	top: 0;
}

.hamburger span:nth-child(2) {
	opacity: 1;
	top: 50%;
}

.hamburger span:nth-child(3) {
	top: 100%;
}

.hamburger.is-active span:nth-child(1) {
	right: -0.3125rem;
	top: 50%;
	transform: rotate(36.87deg);
	width: 100%;
}

.hamburger.is-active span:nth-child(2) {
	opacity: 0;
	top: 50%;
}

.hamburger.is-active span:nth-child(3) {
	right: -0.3125rem;
	top: 50%;
	transform: rotate(-36.87deg);
	width: 100%;
}

.header {
	align-items: center;
	background-color: #fff;
	bottom: 0;
	display: flex;
	height: 5rem;
	justify-content: space-between;
	left: 0;
	padding: 0 0.9375rem;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 100;
}

.header__logo {
	height: 2.375rem;
	position: relative;
	width: 6.375rem;
	z-index: 999;
}

.inner {
	margin-left: auto;
	margin-right: auto;
	max-width: 39.375rem;
	padding-left: 15px;
	padding-right: 15px;
	width: 100%;
}

.job-content {
	border: 1px solid #457b9d;
	display: none;
	flex-direction: column;
	padding: 1.5rem;
}

.job-content.job-content--active {
	display: flex;
}

.job-content__inner {
	max-width: 30.75rem;
}

.job-content__title {
	border-bottom: 1px solid #457b9d;
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 1;
	padding-bottom: 0.5rem;
}

.job-content__text {
	line-height: 1.5;
	margin-top: 0.5rem;
}

.job-content__image {
	overflow: hidden;
}

.job-content__image img {
	-o-object-fit: cover;
	aspect-ratio: 400/250;
	height: 100%;
	object-fit: cover;
	width: 100%;
}

.job-tabs {
	align-items: center;
	display: flex;
}

.job-tabs__button {
	flex: 1;
}

.legal__inner.inner {
	max-width: 50rem;
}

.legal__title {
	font-size: 1.5rem;
	font-weight: 500;
}

.legal__text {
	line-height: 2;
	margin-top: 2.5rem;
}

.legal__text p {
	padding-left: 1em;
	text-indent: -1em;
}

.legal__text ol {
	list-style: decimal;
	padding-left: 1rem;
}

.legal--top-margin {
	margin: 3.25rem auto 0;
}

.loading {
	display: none;
	position: relative;
}

.loading__title {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: center;
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	z-index: 10;
}

.loading__images {
	align-items: center;
	display: flex;
	height: 100vh;
	justify-content: center;
	width: 100%;
}

.loading__image {
	aspect-ratio: 720/768;
	height: 100%;
	position: relative;
	top: 100vh;
}

.loading__image:last-child {
	top: calc(100vh + 80px);
}

.loading__image img {
	-o-object-fit: cover;
	height: 100%;
	object-fit: cover;
	width: 100%;
}

.map {
	height: 18.75rem;
	width: 100vw;
}

.map iframe {
	height: 100%;
	width: 100%;
}

.mission__message {
	font-size: 2rem;
	margin-top: 5rem;
	text-align: center;
}

.mission__contents {
	display: flex;
	flex-direction: column;
	gap: 5rem;
	margin-top: 7.5rem;
}

.mission__content {
	align-items: center;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.mission__content span {
	color: #457b9d;
	font-family: "Alex Brush", sans-serif;
	font-size: 6rem;
	font-weight: normal;
	left: 0;
	line-height: 1;
	opacity: 0.4;
	position: absolute;
	top: -2.5rem;
	z-index: -1;
}

.mission__content:nth-of-type(2n+1) .mission__image {
	clip-path: polygon(20% 0, 100% 0%, 100% 100%, 0% 100%);
}

.mission__content:nth-of-type(2n) .mission__image {
	clip-path: polygon(0 0, 80% 0, 100% 100%, 0% 100%);
}

.mission__box {
	max-width: 33.75rem;
	padding-left: 2.5rem;
	position: relative;
	width: 100%;
}

.mission__name {
	font-size: 1.5rem;
	line-height: 1.6666666667;
}

.mission__text {
	line-height: 2.5;
}

.mission__image {
	max-width: 33.75rem;
	overflow: hidden;
	width: 100%;
}

.mission__image img {
	-o-object-fit: cover;
	aspect-ratio: 540/148;
	height: 100%;
	object-fit: cover;
	width: 100%;
}

.mv {
	height: 100vh;
	position: relative;
	width: 100%;
	z-index: 1;
}

.mv::after {
	background: rgba(0, 0, 0, 0.2);
	content: "";
	display: inline-block;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 2;
}

.mv__title {
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 10;
}

.mv__slide {
	height: inherit;
}

.mv__image {
	height: inherit;
}

.mv__image img {
	-o-object-fit: cover;
	height: 100%;
	object-fit: cover;
	width: 100%;
}

.news {
	background-color: #a8dadc;
	left: 0;
	max-width: 67.5rem;
	position: static;
	top: calc(100vh - 7.5rem);
	width: 100%;
	z-index: 10;
}

.news__inner {
	margin: 0;
	padding: 1.5rem 0.9375rem;
}

.news__list {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	margin-top: 1.5rem;
}

.news__item {
	align-items: center;
	display: flex;
	flex-direction: column;
	gap: 0.25rem 1.5rem;
}

.news__meta {
	-moz-column-gap: 1.5rem;
	align-self: flex-start;
	column-gap: 1.5rem;
	display: inline-flex;
}

.news__link {
	margin-top: 1.5rem;
}

.page-green {
	background-color: #457b9d;
	color: #fff;
	margin-bottom: -0.0625rem;
	padding-top: 5rem;
	position: relative;
}

.page-green::after {
	background: url(../images/404/whale.png) no-repeat;
	background-size: contain;
	content: "";
	display: inline-block;
	height: 21.5625rem;
	left: calc(50% - min(48vw, 10.75rem));
	position: absolute;
	top: 5rem;
	width: 21.5625rem;
}

.page-head {
	align-items: center;
	display: grid;
	height: 28.75rem;
	justify-items: center;
	place-items: center;
}

.page-head__title {
	color: #fff;
	font-family: "Crimson Text", sans-serif;
	font-size: 2.5rem;
	font-weight: 400;
	position: absolute;
	z-index: 10;
}

.page-head__image {
	height: 100%;
	overflow: hidden;
	position: relative;
	width: 100%;
}

.page-head__image::after {
	background-color: rgba(69, 123, 157, 0.4);
	content: "";
	display: block;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.page-head__image img {
	-o-object-fit: cover;
	aspect-ratio: 1440/548;
	height: 100%;
	object-fit: cover;
	width: 100%;
}

.pagination {
	font-family: "Lato";
}

.pagination a,
.pagination span {
	align-items: center;
	border: 1px solid #457b9d;
	color: #457b9d;
	display: grid;
	height: 2.375rem;
	justify-items: center;
	place-items: center;
	transition: background-color 0.3s, color 0.3s;
	width: 2.375rem;
}

.pagination .current {
	background-color: #457b9d;
	border: 1px solid #457b9d;
	color: #fff;
}

.pagination .nextpostslink {
	margin-left: 1.75rem;
}

.pagination .previouspostslink {
	margin-right: 1.75rem;
}

.pagination a:hover {
	background-color: #457b9d;
	border: 1px solid #457b9d;
	color: #fff;
}

.pagination a.active {
	background-color: #457b9d;
	border: 1px solid #457b9d;
	color: #fff;
}

.pagination__arrow {
	align-items: center;
	display: grid;
	justify-items: center;
	place-items: center;
}

.pagination__arrow::before {
	content: "";
	display: inline-block;
	height: 0.625rem;
	position: relative;
	width: 0.625rem;
}

.pagination__arrow:hover::before {
	border-color: #fff;
}

.pagination__arrow--prev:before {
	border-bottom: 1px #457b9d solid;
	border-left: 1px #457b9d solid;
	left: 0.1875rem;
	transform: rotate(45deg);
}

.pagination__arrow--next:before {
	border-bottom: 1px #457b9d solid;
	border-right: 1px #457b9d solid;
	right: 0.1875rem;
	transform: rotate(-45deg);
}

.pagination__inner {
	display: flex;
	gap: 0.75rem;
}

.pagination__inner a:nth-of-type(5),
.pagination__inner a:nth-of-type(6) {
	display: none;
}

.pagination--top-margin {
	margin-top: 5rem;
}

.pc-nav {
	display: none;
	height: inherit;
}

.pc-nav__items {
	align-items: center;
	display: flex;
	gap: 2.5rem;
	height: inherit;
}

.pc-nav__item {
	font-family: "Crimson Text", sans-serif;
	font-size: 1.125rem;
	height: inherit;
	text-align: center;
}

.pc-nav__link {
	display: flex;
	flex-direction: column;
	height: inherit;
	justify-content: center;
	position: relative;
}

.pc-nav__link::after {
	background: #fff;
	bottom: 1.4375rem;
	content: "";
	height: 1px;
	left: 0;
	position: absolute;
	transform: scale(0, 1);
	transform-origin: center top;
	transition: all 0.3s;
	width: 100%;
}

.pc-nav__link:hover::after {
	transform: scale(1, 1);
}

.pc-nav__link span {
	display: block;
	font-size: 0.625rem;
	line-height: 1.5;
}

.popular-article__list {
	margin-top: 1.5rem;
}

.popular-card {
	box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.25);
	display: flex;
	gap: 1rem;
	padding: 1rem;
}

.popular-card__image {
	max-width: 7.5625rem;
}

.popular-card__image img {
	-o-object-fit: cover;
	aspect-ratio: 121/90;
	height: 100%;
	object-fit: cover;
	width: 100%;
}

.popular-card__date {
	display: block;
	font-family: "Crimson Text", sans-serif;
	font-size: 0.75rem;
	line-height: 1.5;
}

.popular-card__title {
	font-size: 1rem;
	font-weight: 500;
	line-height: 1.4375;
	margin-top: 0.25rem;
}

.popular-cards {
	grid-gap: 1.5rem;
	display: grid;
	gap: 1.5rem;
}

.price-list {
	display: flex;
	flex-direction: column;
}

.price-list__header {
	align-items: center;
	background-color: #457b9d;
	color: #fff;
	display: flex;
	font-size: 1rem;
	font-weight: 700;
	justify-content: center;
	line-height: 1.5;
	padding: 0.5rem 0;
}

.price-list__header img {
	height: 1.5rem;
	margin-right: 0.5rem;
	width: 1.5rem;
}

.price-list__table {
	border-bottom: 1px solid #457b9d;
	border-left: 1px solid #457b9d;
	border-right: 1px solid #457b9d;
}

.price-list__table tbody {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.price-list__table tr {
	display: flex;
	flex-grow: 1;
	height: 3.75rem;
}

.price-list__table tr:not(:last-child) {
	border-bottom: 1px solid #457b9d;
}

.price-list__table td {
	align-items: center;
	display: flex;
	flex-grow: 1;
	justify-content: center;
}

.price-list__table td:first-child {
	border-right: 1px solid #457b9d;
	text-align: center;
	width: 68%;
}

.price-list__table td:last-child {
	justify-content: flex-end;
	padding-right: 1rem;
	width: 32%;
}

.price-lists__inner.inner {
	grid-gap: 2.5rem;
	display: grid;
	gap: 2.5rem;
}

.price-lists--top-margin {
	margin: 3.25rem auto 0;
}

.price {
	background-color: #a8dadc;
	padding: 5rem 0;
	position: relative;
}

.price::after {
	display: none;
}

.price__inner {
	position: relative;
}

.price__contents {
	margin: auto;
	width: 100%;
}

.price__image {
	aspect-ratio: 345/227;
	margin-top: 1.5rem;
	overflow: hidden;
	position: relative;
}

.price__image img {
	-o-object-fit: cover;
	height: 100%;
	object-fit: cover;
	width: 100%;
}

.price__lists {
	grid-gap: 2.5rem;
	display: grid;
	gap: 2.5rem;
	margin-top: 2.5rem;
}

.price__list tbody {
	grid-gap: 0.5rem;
	display: grid;
	gap: 0.5rem;
}

.price__list tr:not(:first-child) {
	display: flex;
	justify-content: space-between;
}

.price__list th {
	border-bottom: 1px solid #457b9d;
	display: inline-block;
	font-weight: 700;
	line-height: 1.5;
	padding-bottom: 0.25rem;
	text-align: left;
	width: 100%;
}

.price__list td {
	font-size: 0.875rem;
	line-height: 1.715;
	padding: 0;
}

.price__list td:first-child {
	padding-right: 1rem;
}

.price__btn {
	margin-top: 2.5rem;
	text-align: center;
}

.product-card {
	background-position: center;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0 2.5rem;
	position: relative;
	width: 100%;
}

.product-card::after {
	background-color: rgba(0, 0, 0, 0.4);
	bottom: 0;
	content: "";
	height: 100%;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	transition: all 0.3s;
	width: 100%;
	z-index: 5;
}

.product-card:nth-of-type(1) {
	background-image: url(../images/top/product01.jpg);
}

.product-card:nth-of-type(2) {
	background-image: url(../images/top/product02.jpg);
}

.product-card:nth-of-type(3) {
	background-image: url(../images/top/product03.jpg);
}

.product-card:nth-of-type(4) {
	background-image: url(../images/top/product04.jpg);
}

.product-card:nth-of-type(2n + 1):not(:first-of-type) {
	align-items: flex-end;
}

.product-card:nth-of-type(2n):not(:nth-of-type(2)) {
	align-items: flex-end;
}

.product-card__link {
	display: block;
	height: 100%;
	width: 100%;
}

.product-card__body {
	color: #fff;
	max-width: 18.75rem;
	position: relative;
	width: 100%;
	z-index: 10;
}

.product-card__name {
	border-bottom: 1px solid #a8dadc;
	padding-bottom: 0.25rem;
}

.product-card__text {
	margin-top: 1rem;
}

.product-cards {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	gap: 1.5rem;
}

.product-cards__item {
	height: 20.625rem;
}

.product-series--top-margin {
	margin: 3.25rem auto 0;
}

.product-series__contents {
	margin-top: 1rem;
}

.product {
	overflow: hidden;
	position: relative;
}

.product::before {
	display: none;
}

.product::after {
	display: none;
}

.product__list {
	margin-top: 2.5rem;
}

.recruit-page__mv {
	display: flex;
	position: relative;
}

.recruit-page__image {
	max-width: 56.25rem;
	overflow: hidden;
	width: 100%;
}

.recruit-page__image img {
	-o-object-fit: cover;
	aspect-ratio: 900/560;
	height: 100%;
	object-fit: cover;
	width: 100%;
}

.recruit-page__box {
	background-color: rgba(79, 139, 194, 0.8);
	color: #fff;
	max-width: 45rem;
	padding: 6.9375rem 1.5rem;
	position: absolute;
	right: 0;
	width: 100%;
	z-index: 10;
}

.recruit-page__catch {
	font-size: 3rem;
}

.recruit-page__message {
	margin-top: 0.75rem;
}

.recruit-page__charm {
	align-items: center;
	display: flex;
	flex-direction: column;
}

.recruit-page__charm-title {
	font-size: 3rem;
	font-weight: normal;
}

.recruit-page__charm-contents {
	align-items: center;
	display: flex;
	flex-direction: column;
	position: relative;
}

.recruit-page__charm-item {
	align-items: center;
	display: flex;
	flex-direction: column;
	max-width: 20rem;
	width: 100%;
}

.recruit-page__charm-icon {
	max-width: 100%;
	overflow: hidden;
	width: 6.25rem;
}

.recruit-page__charm-icon img {
	-o-object-fit: cover;
	aspect-ratio: 100/100;
	height: 100%;
	object-fit: cover;
	width: 100%;
}

.recruit-page__charm-name {
	font-size: 1.5rem;
}

.recruit__contents {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	margin-top: 2.5rem;
}

.recruit__content {
	align-items: center;
	display: flex;
	flex-direction: column;
}

.recruit__image {
	align-items: center;
	display: flex;
	height: 22rem;
	justify-content: center;
	position: relative;
	width: 100%;
}

.recruit__image img {
	-o-object-fit: cover;
	aspect-ratio: 400/266;
	max-width: 25rem;
	object-fit: cover;
	width: 100%;
}

.recruit__image::after {
	background-color: #ffe8a1;
	clip-path: polygon(0 0, 100% 30%, 100% 100%, 0 70%);
	content: "";
	display: block;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: -1;
}

.recruit__body {
	width: 100%;
}

.recruit__link {
	margin-top: 1.5rem;
}

.section-header {
	text-align: center;
}

.section-header__title {
	font-family: "Crimson Text", sans-serif;
	font-size: 2rem;
	font-weight: 400;
	line-height: 1.25;
}

.section-header__subtitle {
	color: #457b9d;
	font-size: 0.75rem;
	line-height: 1.5;
	margin-top: 0.25rem;
}

.section-header__contact-subtitle {
	color: #457b9d;
	font-size: 0.75rem;
	line-height: 1.5;
	margin-top: -0.375rem;
}

.section-header--white {
	color: #fff;
}

.section-header--big {
	font-size: 5rem;
	line-height: 1;
}

.side-campaign-cards {
	align-items: center;
	display: flex;
	flex-direction: column;
	gap: 2.5rem;
}

.side-campaign-cards__link {
	width: 100%;
}

.side-campaign-cards__item .campaign-card__meta {
	padding: 1rem 1.5rem 1.5rem;
}

.side-campaign-cards__item .campaign-card__price {
	font-size: 2rem;
}

.side-campaign-cards__item .campaign-card__price span {
	font-size: 1.25rem;
}

.side-campaign-cards__item .campaign-card__title {
	margin-top: 0rem;
}

.side-campaign-cards__item .campaign-card__meta-body {
	margin-top: 0.5rem;
}

.side-campaign__list {
	margin-top: 1.5rem;
}

.side-campaign__btn {
	margin-top: 2.5rem;
	text-align: center;
}

.sidebar-title {
	align-items: center;
	border-left: 8px solid #ffe8a1;
	display: flex;
	font-size: 1.5rem;
	font-weight: 400;
	height: 3.125rem;
	padding-left: 1rem;
}

.sidebar-title__icon {
	margin-right: 0.5rem;
	width: 3.125rem;
}

.sidebar {
	display: flex;
	flex-direction: column;
	gap: 5.25rem;
	max-width: 18.375rem;
}

.sitemap__lists {
	grid-gap: 2.5rem 0;
	display: grid;
	gap: 2.5rem 0;
	grid-auto-flow: column;
	grid-template-rows: repeat(2, auto);
	justify-content: space-between;
}

.sitemap__list {
	grid-gap: 2.5rem;
	display: grid;
	gap: 2.5rem;
}

.sitemap__item {
	grid-gap: 1.5rem;
	background-image: url(../images/sitemap/seastar.png);
	background-position: top left;
	background-repeat: no-repeat;
	background-size: 1.125rem;
	display: grid;
	font-weight: 700;
	gap: 1.5rem;
	line-height: 1.125;
	padding-left: 1.375rem;
	transition: all 0.5s;
}

.sitemap__sublist {
	grid-gap: 1.5rem;
	display: grid;
	font-weight: normal;
	gap: 1.5rem;
}

.sitemap--top-margin {
	margin: 3.25rem auto 0;
}

.slidein {
	background-color: #457b9d;
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 2;
}

.sp-nav {
	background-color: #457b9d;
	color: #fff;
	display: none;
	height: 100vh;
	left: 0;
	overflow: scroll;
	padding-top: 5rem;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 90;
}

.sp-nav__items {
	align-items: center;
	display: flex;
	flex-direction: column;
	gap: 2.5rem;
	height: 100%;
	justify-content: center;
	padding-bottom: 1.5rem;
}

.sp-nav__subitem {
	font-weight: 400;
	line-height: 1.125;
	margin-top: 1.5rem;
}

.swiper-btn {
	display: none;
}

.swiper-btn__prev::before {
	border-bottom: 1px solid #457b9d;
	border-left: 1px solid #457b9d;
	content: "";
	display: inline-block;
	height: 0.375rem;
	transform: skew(-45deg);
	width: 2.5rem;
}

.swiper-btn__next::before {
	border-bottom: 1px solid #457b9d;
	border-right: 1px solid #457b9d;
	content: "";
	display: inline-block;
	height: 0.375rem;
	transform: skew(45deg);
	width: 2.5rem;
}

.swiper-slide {
	height: auto;
}

.tab-content {
	border: 1px solid #457b9d;
	display: none;
	flex-direction: column;
	padding: 1.5rem;
}

.tab-content.tab-content--active {
	display: flex;
}

.tab-content__inner {
	max-width: 30.75rem;
}

.tab-content__title {
	border-bottom: 1px solid #457b9d;
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 1;
	padding-bottom: 0.5rem;
}

.tab-content__text {
	line-height: 1.5;
	margin-top: 0.5rem;
}

.tab-content__image {
	margin-top: 0.5rem;
}

.tab-content__image img {
	-o-object-fit: contain;
	aspect-ratio: 297/189;
	height: 100%;
	object-fit: contain;
	width: 100%;
}

.tab {
	background-color: #a8dadc;
	box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25);
	color: #457b9d;
	font-size: 0.875rem;
	transition: all 0.3s;
}

.tab:hover {
	background-color: #ffe8a1;
	color: #2c3e50;
}

.tab a {
	align-items: center;
	display: flex;
	justify-content: center;
	padding: 0.625rem 0;
	text-align: center;
}

.tab__icon,
.tab__icon--active {
	display: none;
}

.tab--active {
	background-color: #ffe8a1;
	color: #2c3e50;
}

.tabs {
	grid-gap: 1rem 2rem;
	display: grid;
	gap: 1rem 2rem;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
}

.tag {
	background-color: #ffe8a1;
	border-radius: 1.25rem;
	display: inline-block;
	font-size: 0.75rem;
	padding: 0.375rem 0.5rem;
}

.title {
	color: #fff;
}

.title--green {
	color: #457b9d;
}

.title__main {
	font-size: 2.5rem;
	letter-spacing: 0.54em;
	line-height: 1.5;
	writing-mode: vertical-rl;
}

.title__main span {
	display: block;
	text-indent: 2em;
}

.title__sub {
	font-family: "Crimson Text", sans-serif;
	font-size: 1.25rem;
}

.to-top {
	position: fixed;
	right: 0.9375rem;
	z-index: 88;
}

.to-top a {
	background-color: #fff;
	border: 1px solid #457b9d;
	border-radius: 50%;
	display: inline-block;
	height: 3rem;
	position: relative;
	transform: rotate(-90deg);
	width: 3rem;
}

.to-top a::before {
	border-bottom: 1px solid #457b9d;
	border-right: 1px solid #457b9d;
	content: "";
	display: inline-block;
	height: 0.375rem;
	left: 0.5rem;
	position: absolute;
	top: 1.125rem;
	transform: skew(45deg);
	width: 1.75rem;
}

.to-top.UpMove {
	animation: UpAnime 0.5s forwards;
}

.to-top.DownMove {
	animation: DownAnime 0.5s forwards;
}

.top {
	position: relative;
}

.works-card {
	cursor: pointer;
	position: relative;
}

.works-card::before {
	background-color: rgba(0, 0, 0, 0.4);
	bottom: 0;
	content: "";
	height: 100%;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	transition: all 0.3s;
	width: 100%;
	z-index: 5;
}

.works-card__meta {
	align-items: center;
	color: #fff;
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: center;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 10;
}

.works-card__category {
	align-self: center;
	background: none;
	border: none;
	color: #fff;
	font-size: 0.875rem;
}

.works-card__category:hover {
	background: none;
}

.works-card__image {
	overflow: hidden;
}

.works-card__image img {
	-o-object-fit: cover;
	aspect-ratio: 400/250;
	height: 100%;
	object-fit: cover;
	width: 100%;
}

.works-cards {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
}

.works-page__items {
	margin-top: 5rem;
}

.works {
	background-color: #a8dadc;
	overflow: hidden;
	padding: 5rem 0;
}

.works__inner {
	overflow: visible;
}

.works__slider {
	height: 15.625rem;
	margin-top: 2.5rem;
	overflow: visible;
}

.works__slider .swiper-wrapper {
	transition-timing-function: linear;
}

.works__slider .swiper-slide {
	width: 25rem;
}

.works__all {
	margin-top: 5rem;
}

.wp-pagenavi {
	display: flex;
	font-family: "Lato";
	gap: 0.75rem;
	justify-content: center;
}

.wpcf7 input[type=checkbox] {
	border: 1px solid #408f95; /* 線 */
	cursor: pointer;
	display: inline-block;
	height: 0.875rem; /* 幅 */
	margin: 0 0.5rem 0 0;
	position: relative;
	width: 0.875rem; /* 幅 */
}

.wpcf7 input[type=checkbox]::after {
	border: solid #c94800;
	border-width: 0 2px 2px 0;
	content: "";
	height: 0.625rem;
	left: 0.25rem;
	opacity: 0;
	position: absolute;
	top: 0px;
	transform: rotate(45deg);
	width: 0.375rem;
}

.wpcf7:has(.wpcf7-not-valid-tip).contact-form__attention {
	display: flex;
}

.wpcf7 input:checked::after {
	opacity: 1;
}

.wpcf7 .wpcf7-not-valid-tip {
	display: none;
}

.wpcf7 form .wpcf7-response-output {
	border: none;
	color: #c94800;
	text-align: center;
}

.wpcf7-acceptance label {
	align-items: center;
	display: flex;
}

.wpcf7 input[name=acceptance] {
	height: 1.375rem;
	width: 1.375rem;
}

.wpcf7 input[name=acceptance]::after {
	height: 0.75rem;
	left: 0.375rem;
	top: 0.125rem;
	width: 0.5rem;
}

.u-indent {
	padding-left: 1em;
	text-indent: -1em;
}

.u-section-margin {
	margin-top: 5rem;
}

@media screen and (min-width: 768px) {

.u-desktop {
	display: block;
}

.u-mobile {
	display: none;
}

html {
	font-size: 1.4814814815vw;
}

.about-margin {
	margin-top: 16.3125rem;
}

.company-about-margin {
	margin-top: 8.75rem;
}

.company-gallery-margin {
	margin-top: 8.75rem;
}

.company-history-margin {
	margin-top: 8.75rem;
}

.product-margin {
	margin-top: 8.75rem;
}

.recruit-margin {
	margin-top: 8.75rem;
}

.works-margin {
	margin-top: 8.75rem;
}

.about-pc {
	display: block;
}

.about-sp {
	display: none;
}

.about-sp__title {
	font-size: 5rem;
	left: 12.5rem;
	line-height: 1.25;
	max-width: 25rem;
	top: 7.5rem;
}

.arrow-link img {
	right: 0rem;
}

.column-archive__title {
	font-size: 2rem;
}

.column-archive__image {
	margin-top: 2.5rem;
}

.column-archive__body {
	gap: 2.5rem;
	margin-top: 2.5rem;
}

.column-cards {
	gap: 5rem 2.5rem;
	grid-template-columns: repeat(3, 1fr);
}

.column-cards--2column {
	grid-template-columns: repeat(2, 1fr);
}

.column-content::before,
.column-content::after {
	background: none;
}

.column-contents__inner {
	display: flex;
	gap: 5rem;
}

.column-contents__pagination {
	margin-top: 5rem;
}

.column-contents__sidebar {
	margin: 0 auto;
}

.column-contents--top-margin {
	margin: 9.375rem auto 0;
}

.blog {
	padding-top: 6.25rem;
}

.blog::before {
	background: url(../images/top/column-bg.jpg) no-repeat;
	background-size: 100%;
	content: "";
	display: block;
	height: 31.25rem;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	z-index: -1;
}

.blog::after {
	background: url(../images/top/column-fish.png) no-repeat;
	background-size: contain;
	content: "";
	display: inline-block;
	height: 12.5625rem;
	left: calc(50% - min(50vw, 40rem));
	position: absolute;
	top: 1.5rem;
	width: 27.3125rem;
	z-index: 10;
}

.blog__inner {
	max-width: 1130px;
	padding-left: 25px;
	padding-right: 25px;
}

.blog__items {
	margin-top: 5rem;
}

.blog__btn {
	margin-top: 5rem;
}

.column--top-margin {
	margin-top: 0;
}

.cards {
	grid-template-columns: repeat(3, 1fr);
}

.category-tag {
	height: 2.125rem;
}

.category-tag a {
	padding: 0 1rem;
}

.category-tags__list {
	gap: 1rem 2rem;
	justify-content: flex-start;
}

.company-gallery__images {
	grid-auto-flow: dense;
	grid-template-columns: repeat(11, 1fr);
	margin-top: 5rem;
}

.company-gallery__image:nth-of-type(6n + 1),
.company-gallery__image:nth-of-type(6n + 6) {
	aspect-ratio: 492/746;
	grid-column: span 5;
}

.company-gallery__image:nth-of-type(6n + 2),
.company-gallery__image:nth-of-type(6n + 3),
.company-gallery__image:nth-of-type(6n + 4),
.company-gallery__image:nth-of-type(6n + 5) {
	aspect-ratio: 580/369;
	grid-column: span 6;
}

.company-history__item {
	align-items: center;
	display: flex;
}

.company-history__title {
	padding: 0.75rem 0;
}

.contact-form__group {
	flex-direction: row;
	padding-bottom: 2.5rem;
}

.contact-form__group:not(:first-child) {
	padding-top: 2.5rem;
}

.contact-form__group input[type=text],
.contact-form__group input[type=email],
.contact-form__group input[type=tel],
.contact-form__group textarea {
	margin-top: 0;
	max-width: 30rem;
}

.contact-form__group .wpcf7-form-control-wrap[data-name=acceptance] {
	text-align: center;
}

.contact-form__checkbox {
	margin-top: 0;
	max-width: 30rem;
}

.contact-form__group .wpcf7-checkbox {
	margin-top: 0;
	max-width: 30rem;
}

.contact-form__select {
	max-width: 30rem;
}

.contact-form__select select {
	margin-top: 0;
}

.contact-form__select::after {
	top: 0.875rem;
}

.contact-form__btn {
	margin-top: 2.5rem;
}

.contact-form__attention {
	flex-direction: row;
}

.contact-form--top-margin {
	margin: 9.375rem auto 0;
}

.contact-thanks--top-margin {
	margin: 9.375rem auto 0;
}

.contact__tel {
	flex-direction: row;
	gap: 2.5rem;
	margin-top: 2.5rem;
}

.contact__time {
	flex-direction: row;
}

.error__title {
	font-size: 10rem;
}

.error__text {
	margin-top: 1.5rem;
}

.error__btn {
	margin-top: 5rem;
}

.faq-item__question {
	font-size: 1.25rem;
	padding: 1.5rem 2.5rem;
}

.faq-item__answer {
	border-top: 1px solid #457b9d;
	margin-top: 1rem;
	padding: 2.5rem;
}

.faq-list--top-margin {
	margin: 9.375rem auto 0;
}

.footer-nav__list {
	flex-direction: row;
}

.footer__copyright {
	font-size: 0.875rem;
	margin-top: 5rem;
}

.footer {
	padding: 5rem 0;
}

.footer__snslink {
	width: 2rem;
}

.hamburger {
	display: none;
}

.header {
	height: 5.625rem;
	padding: 0 2.5rem;
}

.header__logo {
	height: 3.125rem;
	width: 8.3125rem;
}

.inner {
	max-width: 1130px;
	padding-left: 25px;
	padding-right: 25px;
}

.job-content {
	align-items: center;
	flex-direction: row;
	gap: 3rem;
}

.legal__title {
	font-size: 2rem;
}

.legal--top-margin {
	margin: 9.375rem auto 0;
}

.loading {
	background-color: #fff;
	display: block;
	left: 0;
	overflow: hidden;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 9999;
}

.mission__content {
	flex-direction: row;
	gap: 0;
}

.mission__content:nth-of-type(2n) .mission__box {
	order: 2;
}

.mv__title {
	left: auto;
	right: 9.25rem;
	transform: translate(0, -50%);
}

.news {
	position: absolute;
}

.news__inner {
	padding: 1.5rem 2rem 1.5rem 11.25rem;
}

.news__content {
	align-items: flex-start;
	display: flex;
	gap: 4.5rem;
	max-width: 67.5rem;
	width: 100%;
}

.news__list {
	margin-top: 0;
}

.news__item {
	flex-direction: row;
}

.news__meta {
	align-items: center;
}

.news__link {
	margin-top: 2.5rem;
}

.page-green {
	padding-top: 5.625rem;
}

.page-green::after {
	height: 43.625rem;
	left: calc(50% - min(48vw, 33.75rem));
	top: 5.625rem;
	width: 43.625rem;
}

.page-head {
	height: 34.25rem;
}

.page-head__title {
	font-size: 5rem;
}

.pagination__inner a:nth-of-type(5),
.pagination__inner a:nth-of-type(6) {
	display: grid;
}

.pc-nav {
	display: block;
}

.price-list {
	flex-direction: row;
}

.price-list__header {
	flex-direction: column-reverse;
	max-width: 12.5rem;
	width: 100%;
}

.price-list__header img {
	height: 4rem;
	margin-right: 0;
	width: 4rem;
}

.price-list__table tr:first-child {
	border-top: 1px solid #457b9d;
}

.price-list__table td {
	justify-content: flex-start;
	padding-left: 1rem;
}

.price-lists__inner.inner {
	gap: 5rem;
	max-width: 46.875rem;
}

.price-lists--top-margin {
	margin: 9.375rem auto 0;
}

.price {
	padding: 6.25rem 0;
}

.price::after {
	background: url(../images/top/fish-green.png) no-repeat;
	background-size: contain;
	bottom: 3.75rem;
	content: "";
	display: inline-block;
	height: 12.5625rem;
	left: calc(50% - min(48vw, 40rem));
	position: absolute;
	width: 27.3125rem;
	z-index: 10;
}

.price__contents {
	align-items: flex-start;
	display: flex;
	gap: 6rem;
	margin-top: 2.5rem;
}

.price__image {
	aspect-ratio: 492/746;
	margin-top: 0;
	order: 2;
}

.price__lists {
	margin-top: 0;
	max-width: 30.75rem;
	width: 100%;
}

.price__list td {
	font-size: 1rem;
	line-height: 1.5;
}

.price__btn {
	margin-top: 5rem;
}

.product-card {
	width: 50%;
}

.product-card::after {
	background-color: rgba(255, 255, 255, 0.2);
}

.product-card:hover::after {
	background-color: rgba(0, 0, 0, 0.4);
}

.product-cards {
	flex-direction: row;
	gap: 0;
}

.product-series--top-margin {
	margin: 9.375rem auto 0;
}

.product-series__contents {
	margin-top: 1.5rem;
}

.product::before {
	background-image: url(../images/top/background.png);
	background-repeat: no-repeat;
	background-size: cover;
	content: "";
	display: block;
	height: 21.9375rem;
	left: -1rem;
	position: absolute;
	top: -8.75rem;
	width: 29.25rem;
}

.product::after {
	background-image: url(../images/top/background.png);
	background-repeat: no-repeat;
	background-size: cover;
	bottom: -4.5rem;
	content: "";
	display: block;
	height: 21.9375rem;
	position: absolute;
	right: -7.125rem;
	width: 29.25rem;
	z-index: -1;
}

.recruit-page__mv {
	align-items: center;
	flex-direction: row;
}

.recruit-page__charm-contents {
	height: 27.5rem;
	max-width: 45.9375rem;
	width: 100%;
}

.recruit-page__charm-item {
	position: absolute;
}

.recruit-page__charm-item:nth-of-type(1) {
	left: 50%;
	transform: translateX(-50%);
}

.recruit-page__charm-item:nth-of-type(2) {
	bottom: 0;
	left: 0%;
}

.recruit-page__charm-item:nth-of-type(3) {
	bottom: 0;
	right: 0%;
}

.recruit__contents {
	gap: 0;
}

.recruit__content {
	flex-direction: row;
}

.recruit__content:nth-of-type(2) .recruit__image {
	order: 2;
}

.recruit__content:nth-of-type(2) .recruit__body {
	padding-right: 2.5rem;
}

.recruit__image {
	width: 50%;
}

.recruit__body {
	padding-left: 2.5rem;
	width: 50%;
}

.section-header__title {
	font-size: 2.5rem;
	line-height: 1;
}

.section-header__subtitle {
	margin-top: 0.5rem;
}

.section-header--big {
	font-size: 5rem;
}

.sitemap__lists {
	gap: 7.5rem;
	grid-template-rows: repeat(1, auto);
}

.sitemap--top-margin {
	margin: 9.375rem auto 0;
}

.swiper-btn {
	align-items: center;
	display: flex;
	gap: 5rem;
	position: absolute;
	right: 0;
	top: -6.5625rem;
}

.swiper-btn__prev,
.swiper-btn__next {
	align-items: center;
	border: 1px solid #457b9d;
	border-radius: 5rem;
	cursor: pointer;
	display: flex;
	height: 5rem;
	justify-content: center;
	width: 5rem;
}

.tab-content {
	align-items: center;
	flex-direction: row;
	gap: 3rem;
}

.tab-content__image {
	margin-top: 0;
}

.tab-content__image img {
	aspect-ratio: 492/313;
}

.tab {
	font-size: 1.5rem;
}

.tab:hover > .tab__icon {
	display: none;
}

.tab a {
	padding: 1.75rem 0;
}

.tab a:hover > .tab__icon--active {
	display: block;
}

.tab__icon,
.tab__icon--active {
	margin-right: 0.5rem;
	width: 4rem;
}

.tab--active .tab__icon {
	display: none;
}

.tab--active .tab__icon--active {
	display: block;
}

.tab:not(.tab--active) .tab__icon {
	display: block;
}

.tab:not(.tab--active):hover .tab__icon {
	display: none;
}

.tabs {
	gap: 1rem 5rem;
	grid-template-columns: 18.75rem 18.75rem;
}

.to-top {
	right: 1.25rem;
}

.to-top a {
	box-shadow: -4px 0 4px 0 rgba(0, 0, 0, 0.25);
	height: 5rem;
	width: 5rem;
}

.to-top a::before {
	left: 1rem;
	top: 2.125rem;
	width: 2.5rem;
}

.works-card::before {
	background-color: rgba(255, 255, 255, 0.2);
}

.works-card:hover::before {
	background-color: rgba(0, 0, 0, 0.4);
}

.works-cards {
	grid-template-columns: repeat(3, 1fr);
}

.u-section-margin {
	margin-top: 8.75rem;
}

}

@media (min-width: 1080px) {

html {
	font-size: 16px;
}

}

@media (max-width: 375px) {

html {
	font-size: 4.2666666667vw;
}

}

@keyframes UpAnime {

from {
	opacity: 0;
	transform: translateY(100px);
}

to {
	opacity: 1;
	transform: translateY(0);
}

}

@keyframes DownAnime {

from {
	opacity: 1;
	transform: translateY(0);
}

to {
	opacity: 1;
	transform: translateY(100px);
}

}


/*# sourceMappingURL=style.css.map */
