@use "global" as *;
.blog {
  padding-top: rem(80);
  position: relative;
  @include mq(md) {
    padding-top: rem(100);
    background: url(../images/top/blog-fish.png) no-repeat;
    background-size: rem(437) rem(201);
    background-position: left rem(100) top rem(24);
  }
}

.blog::before {
  @include mq(md) {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: rem(500);
    background: url(../images/top/blog-bg.jpg) no-repeat;
    background-size: 100%;
  }
}

.blog__inner {
  padding: 0 rem(21);
  margin: auto;
  @include mq(md) {
    max-width: 1130px;
    padding-left: 25px;
    padding-right: 25px;
  }
}

.blog__items {
  margin: rem(24) auto 0;
  max-width: rem(600);
  width: 100%;
  gap: rem(40);
  @include mq(md) {
    margin-top: rem(80);
    max-width: none;
  }
}

.blog__item {
  max-width: rem(333.33);
}

.blog__btn {
  margin-top: rem(40);
  text-align: center;
  @include mq(md) {
    margin-top: rem(80);
  }
}
