@use "global" as *;
.campaign {
}

.campaign__items {
  margin-top: rem(24);
}
.campaign__btn {
  text-align: center;
  margin-top: rem(40);
}
.campaign__item {
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.25);
}
.campaign__category {
  font-size: rem(12);
  font-weight: $regular;
  color: $greenaccent;
  line-height: 1.83333;
  border: 1px solid $greenaccent;
  width: rem(108);
  text-align: center;
  padding: rem(4) 0;
  font-weight: 400;
}
.campaign__meta {
  padding: rem(16) rem(16) rem(24) rem(16);
}
.campaign__title {
  font-size: rem(16);
  line-height: 1.5;
  font-weight: $medium;
  padding-bottom: rem(8);
  border-bottom: 1px solid $greenaccent;
  margin-top: rem(4);
}
.campaign__text {
  font-size: rem(14);
  line-height: 1.71428;
  font-weight: $regular;
  text-align: center;
  margin-top: rem(8);
}
.campaign__detail {
  font-family: "Lato";
  font-weight: bold;
  font-size: rem(32);
  color: $greenaccent;
  text-align: center;
  line-height: 1;
  margin-top: rem(8);
}
.campaign__detail span {
  color: $green;
  font-size: rem(20);
  position: relative;
  display: inline-block;
  margin-right: rem(16);
}
.campaign__detail span::before {
  position: absolute;
  content: "";
  display: block;
  transform: rotate(0);
  background-color: #c94800;
  width: 100%;
  height: rem(3);
  top: 50%;
  left: 0;
}
