@use "global" as *;
.voice {
  position: relative;
}

.voice__inner {
  position: relative;
}
.voice__items {
  margin: rem(40) auto 0;
  width: 100%;
  @include mq(md) {
    margin-top: rem(30);
  }
}

.voice__item {
  @include mq(md) {
    max-width: rem(520);
  }
}

.voice__icon {
  display: none;
  @include mq(md) {
    width: rem(301);
    height: rem(138);
    position: absolute;
    left: calc(50% - min(48vw, rem(615)));
    top: rem(-120);
    z-index: 10;
    display: inline-block;
  }
}

.voice__icon:last-child {
  width: rem(71);
  height: rem(162);
  right: calc(50% - min(48vw, rem(540)));
  bottom: rem(-67);
  top: auto;
  left: auto;
}
