@use "global" as *;
.voice {
  padding: rem(80) 0;
  @include mq(md) {
    padding: rem(140) 0;
    background-image: url(../images/top/voice-bg_1.png),
      url(../images/top/voice-bg_2.png);
    background-repeat: no-repeat, no-repeat;
    background-position: left rem(100) top rem(20),
      right rem(180) bottom rem(73);
    background-size: rem(301) rem(138), rem(71) rem(162);
  }
}

.voice__inner {
  position: relative;
}
.voice__items {
  gap: rem(40);
  margin: rem(40) auto 0;
  max-width: rem(600);
  width: 100%;
  @include mq(md) {
    margin-top: rem(30);
    max-width: none;
  }
}

.voice__item {
  @include mq(md) {
    max-width: rem(520);
  }
}
