@use "global" as *;
.about-sp {
  position: relative;
  z-index: -2;
  @include mq(md) {
    display: none;
  }
}

.about-sp__image {
  aspect-ratio: 281 / 186;
  margin-top: rem(52);
  max-width: rem(880);
}

.about-sp__title {
  position: absolute;
  top: rem(24);
  left: rem(24);
  font-family: $english-font-family;
  font-size: rem(40);
  color: $white;
  line-height: 1;
  @include mq(md) {
    max-width: rem(400);
    font-size: rem(80);
    line-height: 1.25;
    top: rem(120);
    left: rem(200);
  }
}

.about-sp__text {
  margin-top: rem(40);
  font-size: rem(16);
  line-height: 1.5;
}
