@use "global" as *;
.arrow-link {
    text-align: right;
    font-size: rem(12);
    position: relative;
}

.arrow-link a {
    position: relative;
    padding-right: rem(10);
}

.arrow-link img {
    position: absolute;
    right: rem(0);
    bottom: rem(-6);
    width: rem(40);
    @include mq(md) {
        right: rem(0);
    }
}
