<<<<<<< HEAD
@use "global" as *;
.arrow-link {
    text-align: right;
    font-size: rem(12);
}

.arrow-link a {
    position: relative;
    padding-right: rem(10);
}

.arrow-link img {
    position: absolute;
    right: rem(0);
    bottom: rem(-6);
    width: rem(40);
    @include mq(md) {
        right: rem(0);
    }
}
=======
@use "global" as *;
.arrow-link {
    text-align: right;
    font-size: rem(12);
}

.arrow-link a {
    position: relative;
    padding-right: rem(10);
}

.arrow-link img {
    position: absolute;
    right: rem(0);
    bottom: rem(-6);
    width: rem(40);
    @include mq(md) {
        right: rem(0);
    }
}
>>>>>>> 471f06b631ac9081b71bf99b3ceb1f6d7b101447
