@use "global" as *;
.blog-cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: rem(40);
  @include mq(md) {
    gap: rem(80) rem(40);
    grid-template-columns: repeat(3, 1fr);
  }
}

.blog-cards--2column {
  @include mq(md) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.blog-cards__item:hover img {
  transform: scale(1.4);
}
