@use "global" as *;
.breadcrumbs {
  font-size: rem(14);
}
.breadcrumbs__list {
  display: flex;
  align-items: center;
  gap: rem(8);
  font-size: rem(14);
  line-height: 1.4285;
}

.breadcrumbs__item + .breadcrumbs__item::before {
  content: ">";
  margin-right: rem(8);
}

.breadcrumbs--top-margin {
  margin-top: rem(8);
}
