@use "global" as *;
.breadcrumbs {
<<<<<<< HEAD
  font-size: rem(14);
=======
  padding-top: rem(8);
>>>>>>> 014020e7218aaa229fb84b53ca71032797df1a4d
}
.breadcrumbs__list {
  display: flex;
  align-items: center;
  gap: rem(8);
  font-size: rem(14);
  line-height: 1.4285;
}

.breadcrumbs__item + .breadcrumbs__item::before {
  content: ">";
  margin-right: rem(8);
}
<<<<<<< HEAD

.breadcrumbs--top-margin {
  margin-top: rem(8);
}
=======
>>>>>>> 014020e7218aaa229fb84b53ca71032797df1a4d
