@use "global" as *;
.button {
  background-color: $greenaccent;
  color: $white;
  font-family: $english-font-family;
  font-size: rem(14);
  line-height: 1.5714;
  width: rem(202);
  height: rem(54);
  padding: rem(16) 0;
  position: relative;
  display: inline-block;
  transition: all 0.5s;
  box-shadow: 3px 3px 0 0 $white, 3px 3px 0 1px $greenaccent;
  border: 1px solid $greenaccent;
  overflow: hidden;
}

.button span {
  display: inline-block;
  content: "";
  width: rem(40);
  height: rem(6);
  border-bottom: 1px solid $white;
  border-right: 1px solid $white;
  transform: skew(45deg);
  margin-left: rem(8);
}
.button:hover {
  background-color: $white;
  color: $greenaccent;
}

.button:hover span {
  border-bottom: 1px solid $greenaccent;
  border-right: 1px solid $greenaccent;
}
