@use "global" as *;
.campaign-card {
  box-shadow: 0 4px 4px 0px rgba(0, 0, 0, 0.25);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  z-index: 0;
  max-width: rem(280);
  @include mq(md) {
    max-width: none;
  }
}
.campaign-card__image {
  aspect-ratio: 280 / 188;
  @include mq(md) {
    aspect-ratio: 333 / 223;
  }
}
.campaign-card__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.campaign-card__meta {
  padding: rem(16) rem(16) rem(24);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  @include mq(md) {
    padding: rem(24) rem(16) rem(40);
  }
}
.campaign-card__title {
  font-size: rem(16);
  line-height: 1.5;
  font-weight: $medium;
  padding-bottom: rem(8);
  border-bottom: 1px solid $greenaccent;
  margin-top: rem(4);
}
.campaign-card__title--center {
  text-align: center;
}
.campaign-card__meta-body {
  margin-top: rem(8);
  @include mq(md) {
    margin-top: rem(16);
  }
}
.campaign-card__text {
  font-size: rem(14);
  line-height: 1.715;
  font-weight: $regular;
  text-align: center;
  @include mq(md) {
    font-size: rem(16);
    line-height: 1.5;
  }
}
.campaign-card__price {
  font-family: "Lato";
  font-weight: bold;
  font-size: rem(32);
  color: $greenaccent;
  text-align: center;
  line-height: 1;
  margin-top: rem(8);
  @include mq(md) {
    font-size: rem(40);
  }
}
.campaign-card__price span {
  color: $green;
  font-size: rem(20);
  position: relative;
  display: inline-block;
  margin-right: rem(16);
  @include mq(md) {
    font-size: rem(24);
    margin-right: rem(24);
  }
}
.campaign-card__price span::before {
  position: absolute;
  content: "";
  display: block;
  transform: rotate(0);
  background-color: #c94800;
  width: 100%;
  height: rem(3);
  top: 50%;
  left: 0;
}
.campaign-card__detail {
  display: none;
  @include mq(md) {
    display: block;
    margin-top: rem(24);
  }
}

.campaign-card__textbox {
  line-height: 1.5;
}

.campaign-card__date {
  color: $greenaccent;
  text-align: center;
  margin-top: rem(32);
  font-family: "Lato";
  font-weight: 700;
  line-height: 1.125;
}

.campaign-card__reserve {
  color: $greenaccent;
  font-size: rem(14);
  text-align: center;
  margin-top: rem(8);
  line-height: 1.286;
}

.campaign-card__btn {
  margin-top: rem(24);
  text-align: center;
}

.campaign-card__box {
  padding: rem(24) rem(24) rem(40);
}
