@use "global" as *;
.campaign {
  overflow: hidden;
}
.campaign__slide {
  margin-top: rem(24);
  overflow: visible;
  @include mq(md) {
    margin-top: rem(40);
  }
}
.campaign__btn {
  text-align: center;
  margin-top: rem(40);
  @include mq(md) {
    margin-top: rem(80);
  }
}
.campaign__link {
  max-width: rem(280);
  width: 100%;
  @include mq(md) {
    max-width: rem(333);
  }
}
.campaign--top-margin {
  margin-top: rem(40);
  @include mq(md) {
    margin-top: rem(120);
  }
}
