@use "global" as *;
.category-tag {
  font-size: rem(12);
  font-weight: $regular;
  color: $greenaccent;
  line-height: 1.83333;
  border: 1px solid $greenaccent;
  padding: rem(3) rem(11);
  font-weight: 400;
  display: inline-block;
  text-align: center;
  @include mq(md) {
    padding: rem(5) rem(15);
  }
}

.category-tag--active {
  color: $white;
  background-color: $greenaccent;
}
