@use "global" as *;
.category-tag {
  font-size: rem(12);
  font-weight: $regular;
  color: $greenaccent;
  line-height: 1.83333;
  border: 1px solid $greenaccent;
  padding: 0 rem(12);
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  height: rem(30);
  align-self: flex-start;
  @include mq(md) {
    padding: 0 rem(16);
    height: rem(34);
  }
}

.category-tag--active {
  color: $white;
  background-color: $greenaccent;
}
