@use "global" as *;
.contact-form__inner.inner {
  max-width: rem(750);
}
.contact-form__group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  border-bottom: 1px dashed $greenaccent;
  padding-bottom: rem(24);
  @include mq(md) {
    flex-direction: row;
    padding-bottom: rem(40);
  }
}
.contact-form__group:not(:first-child) {
  padding-top: rem(24);
  @include mq(md) {
    padding-top: rem(40);
  }
}
.contact-form__group:last-child {
  align-items: center;
  border-bottom: none;
  padding-bottom: 0;
  @include mq(md) {
    flex-direction: column;
  }
}
.contact-form__required {
  background-color: #c94800;
  color: $white;
  padding: rem(2) rem(16);
  font-size: rem(12);
  margin-left: rem(8);
  letter-spacing: 0.4em;
}
.contact-form__group label {
  font-weight: $bold;
}
.contact-form__group input::placeholder {
  color: $green2;
}
.contact-form__group input[type="text"],
.contact-form__group textarea {
  width: 100%;
  padding: rem(8) rem(16);
  border: 1px solid $greenaccent;
  margin-top: rem(16);
  @include mq(md) {
    max-width: rem(480);
    margin-top: 0;
  }
}
.contact-form__group input[type="text"] {
  height: rem(40);
}
.contact-form__group input[type="text"].contact-form--validation {
  border-color: #c94800;
  background-color: rgba($color: #c94800, $alpha: 0.2);
}
.contact-form__group input[type="text"].contact-form--validation::placeholder {
  color: $white;
}
.contact-form__checkbox {
  display: flex;
  flex-direction: column;
  margin-top: rem(16);
  gap: rem(4);
  width: 100%;
  max-width: rem(400);
  @include mq(md) {
    max-width: rem(480);
    margin-top: 0;
  }
}
.contact-form__checkbox label {
  font-weight: 400;
  display: flex;
  align-items: center;
  user-select: none;
}
.contact-form__mark {
  height: rem(14); /* 幅 */
  width: rem(14); /* 幅 */
  border: 1px solid $greenaccent; /* 線 */
  margin-right: rem(8);
  position: relative;
}
.contact-form__mark::after {
  content: "";
  position: absolute;
  border: solid #c94800;
  border-width: 0 2px 2px 0;
  left: rem(4);
  top: 0px;
  width: rem(6);
  height: rem(10);
  transform: rotate(45deg);
  opacity: 0;
}
.contact-form__checkbox input:checked + .contact-form__mark::after {
  opacity: 1;
}
.contact-form__select {
  width: 100%;
  max-width: rem(400);
  position: relative;
  @include mq(md) {
    max-width: rem(480);
  }
}
.contact-form__select select {
  width: 100%;
  height: rem(40);
  padding-left: rem(16);
  margin-top: rem(16);
  border: 1px solid $greenaccent;
  background: #ffffff;
  font-size: rem(12);
  @include mq(md) {
    margin-top: 0;
  }
}
.contact-form__select::after {
  position: absolute;
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  border-top: 10px solid $greenaccent;
  border-bottom: 0;
  top: rem(30);
  right: rem(8);
  z-index: 10;
  @include mq(md) {
    top: rem(14);
  }
}
.contact-form__group textarea {
  height: rem(200);
}
.contact-form__privacy label {
  display: flex;
  align-items: flex-start;
  font-size: rem(14);
}
.contact-form__mark--agree {
  width: rem(22);
  height: rem(22);
}
.contact-form__mark--agree::after {
  left: rem(6);
  top: rem(2);
  width: rem(8);
  height: rem(12);
}
.contact-form__privacy input:checked + .contact-form__mark::after {
  opacity: 1;
}
.contact-form__btn {
  margin-top: rem(24);
  @include mq(md) {
    margin-top: rem(40);
  }
}
.contact-form__attention {
  color: #c94800;
  font-size: rem(14);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: rem(40);
  padding-left: 1em;
  text-indent: -1em;

  @include mq(md) {
    flex-direction: row;
  }
}

.contact-form--top-margin {
  margin: rem(52) auto 0;
  @include mq(md) {
    margin: rem(150) auto 0;
  }
}
