@use "global" as *;
.diving-information--top-margin {
  margin: rem(52) auto 0;
  @include mq(md) {
    margin: rem(150) auto 0;
  }
}
.diving-information__contents {
  margin-top: rem(16);
  @include mq(md) {
    margin-top: rem(24);
  }
}
