@use "global" as *;
.hamburger {
  width: rem(40);
  height: rem(24);
  position: relative;
  z-index: 999;
  @include mq(md) {
    display: none;
  }
}

.hamburger span {
  position: absolute;
  width: 80%;
  height: rem(1);
  background-color: $blue;
  transition: 0.3s;
  right: 0;
}

.hamburger span:nth-child(1) {
  top: 0;
}

.hamburger span:nth-child(2) {
  top: 50%;
  opacity: 1;
}

.hamburger span:nth-child(3) {
  top: 100%;
}
.hamburger.is-active span:nth-child(1) {
  top: 50%;
  transform: rotate(36.87deg);
  width: 100%;
  right: rem(-5);
}

.hamburger.is-active span:nth-child(2) {
  top: 50%;
  opacity: 0;
}

.hamburger.is-active span:nth-child(3) {
  top: 50%;
  transform: rotate(-36.87deg);
  width: 100%;
  right: rem(-5);
}
