@use "global" as *;
.news__inner{
    background-color: $skyblue;
    padding-top: rem(24);
    padding-bottom: rem(24);
    margin: 0;
}

.news__content{
    @include mq(md) {
        display: flex;
        align-items: flex-start;
        max-width: rem(1080);
        width: 100%;
        gap: rem(72);
        margin-left: rem(180);
    }
}

.news__list{
    margin-top: rem(24);
    display: flex;
    flex-direction: column;
    gap: rem(16);
}

.news__item{
    display: flex;
    flex-direction: column;
    gap: rem(4) rem(24);
    align-items: center;
    @include mq(md) {
        flex-direction: row;
    }
}

.news__meta{
    display: inline-flex;
    align-self: flex-start;
    column-gap: rem(24);
    @include mq(md) {
        align-items: center;
    }
}

.news__link{
    text-align: right;
    margin-top: rem(24);
    @include mq(md) {
        margin-top: rem(64);
    }
}