@use "global" as *;
.page-body {
  position: relative;
}

.page-body::before {
  content: "";
  background: url(../images/common/green-fish.png) no-repeat;
  background-size: contain;
  width: rem(120);
  height: rem(55);
  position: absolute;
  z-index: -1;
  left: calc(50% - min(48vw, rem(172)));
  top: rem(-24);
  display: inline-block;
  @include mq(md) {
    width: rem(301);
    height: rem(138);
    left: calc(50% - min(48vw, rem(620)));
    top: rem(-70);
  }
}

.page-body--top-margin {
  margin: rem(52) auto 0;
  @include mq(md) {
    margin: rem(150) auto 0;
  }
}
