@use "global" as *;
.page-head {
  display: grid;
  place-items: center;
  height: rem(460);
  @include mq(md) {
    height: rem(548);
  }
}
.page-head__title {
  font-size: rem(40);
  font-family: "Lato", sans-serif;
  font-weight: 400;
  position: absolute;
  color: $white;
  @include mq(md) {
    font-size: rem(80);
  }
}
<<<<<<< HEAD
.page-head__image {
=======
.page-haed__image {
>>>>>>> 014020e7218aaa229fb84b53ca71032797df1a4d
  overflow: hidden;
  height: 100%;
  width: 100%;
}
<<<<<<< HEAD
.page-head__image img {
=======
.page-haed__image img {
>>>>>>> 014020e7218aaa229fb84b53ca71032797df1a4d
  width: 100%;
  height: 100%;
  object-fit: cover;
}
