@use "global" as *;
.recruit-page__mv {
    position: relative;
    display: flex;
    @include mq(md) {
        flex-direction: row;
        align-items: center;
    }
}
.recruit-page__image {
    overflow: hidden;
    width: 100%;
    max-width: rem(900);
}
.recruit-page__image img {
    width: 100%;
    height: 100%;
    aspect-ratio: 900 / 560;
    object-fit: cover;
}
.recruit-page__box {
    background-color: rgba($color: #4f8bc2, $alpha: 0.8);
    color: $white;
    position: absolute;
    right: 0;
    z-index: 10;
    width: 100%;
    max-width: rem(720);
    padding: rem(111) rem(24);
}
.recruit-page__catch {
    font-size: rem(48);
}
.recruit-page__message {
    margin-top: rem(12);
}
.recruit-page__charm {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.recruit-page__charm-title {
    font-size: rem(48);
    font-weight: normal;
}
.recruit-page__charm-contents {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    @include mq(md) {
        width: 100%;
        max-width: rem(735);
        height: rem(440);
    }
}
.recruit-page__charm-item {
    width: 100%;
    max-width: rem(320);
    display: flex;
    flex-direction: column;
    align-items: center;
    @include mq(md) {
        position: absolute;
    }
}
.recruit-page__charm-item:nth-of-type(1) {
    @include mq(md) {
        left: 50%;
        transform: translateX(-50%);
    }
}
.recruit-page__charm-item:nth-of-type(2) {
    @include mq(md) {
        left: 0%;
        bottom: 0;
    }
}
.recruit-page__charm-item:nth-of-type(3) {
    @include mq(md) {
        right: 0%;
        bottom: 0;
    }
}
.recruit-page__charm-icon {
    overflow: hidden;
    width: rem(100);
    max-width: 100%;
}
.recruit-page__charm-icon img {
    aspect-ratio: 100 / 100;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.recruit-page__charm-name {
    font-size: rem(24);
}
.recruit-page__charm-text {
}
