@use "global" as *;
.section-header {
  text-align: center;
}
.section-header_title {
  font-family: $english-font-family;
  font-size: rem(32);
  line-height: 1.25;
  font-weight: $regular;
  text-transform: capitalize;
}
.section-header_title::first-letter {
  color: $greenaccent;
}
.section-header_subtitle {
  font-size: rem(12);
  color: $greenaccent;
  line-height: 1.5;
  margin-top: rem(4);
}
