@use "global" as *;
.sidebar-title {
    border-left: 8px solid $yellow;
    height: rem(50);
    display: flex;
    align-items: center;
    padding-left: rem(16);
    font-size: rem(24);
    font-weight: $regular;
}

.sidebar-title__icon {
    width: rem(50);
    margin-right: rem(8);
}
