@use "global" as *;
.tab-content {
  display: none;
  flex-direction: column;
  border: 1px solid $greenaccent;
  padding: rem(24);
  @include mq(md) {
    align-items: center;
    flex-direction: row;
    gap: rem(48);
  }
}

.tab-content.tab-content--active {
  display: flex;
}

.tab-content__inner {
  max-width: rem(492);
}

.tab-content__title {
  padding-bottom: rem(8);
  border-bottom: 1px solid $greenaccent;
  font-size: rem(24);
  font-weight: $bold;
  line-height: 1;
}

.tab-content__text {
  margin-top: rem(8);
  line-height: 1.5;
}

.tab-content__image {
  margin-top: rem(8);
<<<<<<< HEAD
  @include mq(md) {
    margin-top: 0;
=======
  aspect-ratio: 297 / 189;
  @include mq(md) {
    margin-top: 0;
    aspect-ratio: 492 / 313;
>>>>>>> 014020e7218aaa229fb84b53ca71032797df1a4d
  }
}

.tab-content__image img {
<<<<<<< HEAD
  aspect-ratio: 297 / 189;
  width: 100%;
  height: 100%;
  object-fit: contain;
  @include mq(md) {
    aspect-ratio: 492 / 313;
  }
=======
  width: 100%;
  height: 100%;
  object-fit: contain;
>>>>>>> 014020e7218aaa229fb84b53ca71032797df1a4d
}
