@use "global" as *;

.to-top {
  position: fixed;
  right: rem(15);
  z-index: 88;
  @include mq(md) {
    right: rem(20);
  }
}

.to-top a {
  display: inline-block;
  width: rem(48);
  height: rem(48);
  border-radius: 50%;
  background-color: $white;
  transform: rotate(-90deg);
  position: relative;
  border: 1px solid $greenaccent;
  @include mq(md) {
    width: rem(80);
    height: rem(80);
    box-shadow: -4px 0 4px 0 rgba(0, 0, 0, 0.25);
  }
}

.to-top a::before {
  display: inline-block;
  content: "";
  width: rem(28);
  height: rem(6);
  border-bottom: 1px solid $greenaccent;
  border-right: 1px solid $greenaccent;
  transform: skew(45deg);
  top: rem(18);
  left: rem(8);
  position: absolute;
  @include mq(md) {
    width: rem(40);
    top: rem(34);
    left: rem(16);
  }
}

.to-top.UpMove {
  animation: UpAnime 0.5s forwards;
}
@keyframes UpAnime {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.to-top.DownMove {
  animation: DownAnime 0.5s forwards;
}
@keyframes DownAnime {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 1;
    transform: translateY(100px);
  }
}
