@use "global" as *;
.voice-section__content {
  margin: rem(40) auto 0;
  width: 100%;
}

.voice-section--top-margin {
  margin: rem(52) auto 0;
  @include mq(md) {
    margin: rem(150) auto 0;
  }
}
