@use "global" as *;
.voice-card {
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.25);
  padding: rem(16) rem(16) rem(24);
  @include mq(md) {
    padding: rem(24);
  }
}

.voice-card__head {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: rem(13);
}

.voice-card__metahead {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  @include mq(md) {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }
}

.voice-card__age {
  font-size: rem(12);
  line-height: 1.5;
}

.voice-card__title {
  font-size: rem(16);
  font-weight: $medium;
  line-height: 1.4375;
  padding-bottom: rem(4);
  border-bottom: 1px solid $greenaccent;
  margin-top: rem(4);
  @include mq(md) {
    margin-top: rem(8);
    font-size: rem(24);
  }
}

.voice-card__image {
<<<<<<< HEAD
=======
  aspect-ratio: 151 / 117;
>>>>>>> 014020e7218aaa229fb84b53ca71032797df1a4d
  overflow: hidden;
  max-width: rem(151);
  width: 100%;
  position: relative;
<<<<<<< HEAD
  @include mq(md) {
=======

  @include mq(md) {
    aspect-ratio: 180 / 140;
>>>>>>> 014020e7218aaa229fb84b53ca71032797df1a4d
    max-width: rem(180);
  }
}

.voice-card__image img {
<<<<<<< HEAD
  aspect-ratio: 151 / 117;
  width: 100%;
  height: 100%;
  object-fit: cover;
  @include mq(md) {
    aspect-ratio: 180 / 140;
  }
=======
  width: 100%;
  height: 100%;
  object-fit: cover;
>>>>>>> 014020e7218aaa229fb84b53ca71032797df1a4d
}

.voice-card__text {
  margin-top: rem(15);
  line-height: 1.5;
  @include mq(md) {
    margin-top: rem(40);
  }
}

.voice-card__category {
  @include mq(md) {
  }
}
