@use "global" as *;
.voice {
  position: relative;
}

.voice::before {
  display: none;
  @include mq(md) {
    content: "";
    background: url(../images/top/voice-bg_1.png) no-repeat;
    background-size: contain;
    width: rem(301);
    height: rem(138);
    position: absolute;
    left: calc(50% - min(48vw, rem(615)));
    top: rem(-120);
    z-index: 10;
    display: inline-block;
  }
}

.voice::after {
  display: none;
  @include mq(md) {
    content: "";
    background: url(../images/top/voice-bg_2.png) no-repeat;
    background-size: contain;
    width: rem(71);
    height: rem(162);
    position: absolute;
    right: calc(50% - min(48vw, rem(540)));
    bottom: rem(-67);
    display: inline-block;
  }
}

<<<<<<< HEAD
.voice__items {
  margin-top: rem(40);
}

=======
>>>>>>> 014020e7218aaa229fb84b53ca71032797df1a4d
.voice__btn {
  margin-top: rem(40);
  text-align: center;
  @include mq(md) {
    margin-top: rem(80);
  }
}
