@use "global" as *;
.works{
    background-color: $skyblue;
    padding: rem(80) 0;
    overflow: hidden;
}
.works__inner{
    overflow: visible;
}
.works__slider{
    height: rem(250);
    margin-top: rem(40);
    overflow: visible;
}
.works__slider .swiper-wrapper{
    transition-timing-function: linear;
}
.works__slider .swiper-slide{
    width: rem(400);
}

.works__all{
    margin-top: rem(80);
}