@use "global" as *;
.wpcf7 input[type="checkbox"] {
  display: inline-block;
  border: 1px solid #408f95; /* 線 */
  height: rem(14); /* 幅 */
  margin: 0 rem(8) 0 0;
  position: relative;
  width: rem(14); /* 幅 */
  cursor: pointer;
}

.wpcf7 input[type="checkbox"]::after {
  border: solid #c94800;
  border-width: 0 2px 2px 0;
  content: "";
  height: rem(10);
  left: rem(4);
  opacity: 0;
  position: absolute;
  top: 0px;
  transform: rotate(45deg);
  width: rem(6);
}

.wpcf7:has(.wpcf7-not-valid-tip).contact-form__attention {
  display: flex;
}

.wpcf7 input:checked::after {
  opacity: 1;
}

.wpcf7 .wpcf7-not-valid-tip {
  display: none;
}

.wpcf7 form .wpcf7-response-output {
  border: none;
  color: #c94800;
  text-align: center;
}

.wpcf7-acceptance label {
  display: flex;
  align-items: center;
}

.wpcf7 input[name="acceptance"] {
  width: rem(22);
  height: rem(22);
}

.wpcf7 input[name="acceptance"]::after {
  width: rem(8);
  height: rem(12);
  top: rem(2);
  left: rem(6);
}
